/*---------------------------------------------------------*\
                      Core Styles
\*---------------------------------------------------------*/


html, body, p, li, a, h1, h2, h3, h4, h5, h6, img {
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-family: $font_menu;
	font-size: 80%;
    
    @media (min-width: 769px) {
        font-size: 100%;
    }
}
p, li {
	@extend %extend_basic_text;
}

h1 {
	font-family: $font_header;
	margin-left: 5px;
    font-size: 3rem;
    color: $font_header_color;
}
h2, h3, h4, h5, h6 {
	font-family: $font_body;
    color: $font_header_color;
}

h2 {
    font-size: 1.4rem;
    color: #000;
    margin-bottom: 20px;
    color: $font_body_color;
}

select, input, textarea, input[type="text"] {
    font-family: $font_body;
	font-size: 1rem;
	color: $font_body_color;
}

.center {
	text-align: center;
	margin: auto;
	height: 100%;
}
a {
	color: $font_menu_color;
	text-decoration: none;
	&:hover {
		color: $font_header_color;
		outline: 0;
	}
	&:focus {
		outline: 0;
	}
	&:active {
		outline: 0;
	}
	img {
		&.alignright {
			float: right;
			margin: 5px 0 20px 20px;
		}
		&.alignnone {
			margin: 5px 20px 20px 0;
		}
		&.alignleft {
			float: left;
			margin: 5px 20px 20px 0;
		}
		&.aligncenter {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

main {
	width: 83%;
	padding: 25px 0;
	background: none repeat scroll 0 0 $bg_body_color;
}

img {
	max-width: 100%;
	vertical-align: bottom;
    
	&#wpstats {
		visibility: hidden;
		height: 0;
	}
}

.clear {
	&:before {
		content: ' ';
		display: table;
	}
	&:after {
		content: ' ';
		display: table;
		clear: both;
	}
}
::selection {
	background: $font_header_color;
	color: $bg_header_color;
	text-shadow: none;
}
::-webkit-selection {
	background: $font_header_color;
	color: $bg_header_color;
	text-shadow: none;
}
::-moz-selection {
	background: $font_header_color;
	color: $bg_header_color;
	text-shadow: none;
}
.alignnone {
	margin: 5px 20px 20px 0;
}
.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}
.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}
.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}
.wp-caption {
	background: $bg_header_color;
	border: none;
	max-width: 96%;
	padding: 5px 3px 10px;
	text-align: center;
	&.alignnone {
		margin: 5px 20px 20px 0;
	}
	&.alignleft {
		margin: 5px 20px 20px 0;
	}
	&.alignright {
		margin: 5px 0 20px 20px;
	}
	img {
		border: 0 none;
		height: auto;
		margin: 0;
		max-width: 98.5%;
		padding: 0;
		width: auto;
	}
	.wp-caption-text {
		@extend %extend_captions;
	}
}
.gallery-caption {
	@extend %extend_captions;
}

input:focus {
	outline: 0;
	border: 1px solid $font_header_color;
}
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.hatom-extra {
    display:none;
    visibility:hidden;
}