// _fonts.scss


/*---------------------------------------------------------*\
                      Variables
\*---------------------------------------------------------*/

$font_header: Dancing Script;
$font_body: Arial, Helvetica, sans-serif;
$font_menu: "Times New Roman", Times, serif;

$font_header_color: #96b1d2;
$font_menu_color: #808080;
$font_body_color: #979797;

/*---------------------------------------------------------*\
                      Google Fonts
\*---------------------------------------------------------*/

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(http://fonts.gstatic.com/s/dancingscript/v5/DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}