// _header.scss
header {
    width: 100%;
    height: 100%;
    position: fixed;
    
    @media (max-width: 1024px) {
        width: 100%;
        z-index: 99;
        background: #fff;
        padding: 5px 10px 0;
        height: 120px;
        position: relative;
        text-align: center;
    }
    
    h2 {
        font-family: "Times New Roman", Times, serif;
    }
}

.header {
    padding: 25px 10px 10px 10px;
    height: 100%;
    
    @media (max-width: 1024px) {
        height: 120px;
        padding: 5px;
        
        br {
            display: none;
        }
    }
}

.logo {
    margin: 25px auto 10px;
    width: 60%;
    position: relative;
    z-index: 100;
    
    @media (min-width: 768px) {
        margin: 15px auto 10px;
        width: 75%;
    }
    
    @media (min-width: 1024px) {
        width: 100%;
    }
    
}

.phoneNo {
    text-align: left;
    font-size: .9rem;
    font-family: arial;
    position: absolute;
    bottom: 25px;
    
    span {
        font-size: 1.2rem;
        margin-bottom: 5px;
    }
    
    @media (min-width: 375px) {
        font-size: 1rem;
        
        span {
            font-size: 1.65rem;
        }
    }
    
    @media (min-width: 1200px) {
        font-size: .86rem;
        
        span {
            font-size: 2rem;
        }
    }
    
     @media (min-width: 1400px) {
         font-size: 1rem;
        
        span {
            font-size: 2.25rem;
        }
    }
    
    a {
        color: #808080;
    }
}

.email a {
    @media (min-width: 1024px) and (max-width: 1200px) {
        font-size: .71rem;
    }
}

nav {
    margin: 50px 0;
    ul {
        list-style: none;
        li {
            padding-left: 15px;
            font-size: 1.1rem;
            font-weight: 700;
            line-height: 2rem;
            a {
                color: #808080;
            }
            li:hover a {
                color: #96b1d2;
            }
        }
    }
}

.slogan {
    color: #808080;
    font-family: $font_header;
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}


@media (max-width: 1024px) {
    .slogan {
        display: none;
    }
    nav {
        margin: 0 auto auto;
        width: 100%;
    }
    nav ul {
        margin-left: 0;
    }
    nav ul li {
        padding-left: 5px;
        display: inline-block;
    }
    .logo {
        width: 170px;
    }
    .phoneNo {
        width: 95%;
        top: 10px;
    }
    .phoneNo span {
        font-size: 1.3rem;
        float: left;
    }
    .phoneNo a {
        float: right;
        margin-top: -2px;
    }
}
