.home-images .home-image {
    position: relative;
}

.home-images .home-image amp-img {
    position: relative;
    z-index: 100;
}

.page-template-template-home-page-php .home-images h2 {
    background: none repeat scroll 0 0 rgba(119, 119, 119, 0.7);
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: -23px;
    font-size: 1rem;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    z-index: 100;
    
    
    @media (min-width: 375px) {
        font-size: 1.4rem;
    }
    
    @media (min-width: 769px) {
        font-size: 1.7rem;
        
        &:hover {
            background: none repeat scroll 0 0 rgba(119, 119, 119, 0.9);
        }
    }
}

.page-template-template-home-page-php .home-images h2 a {
    color: #dfdfdf;
}

.page-template-template-home-page-php .home-images h2:hover a {
    color: $font_header_color;
    -webkit-transition:all 0.3s ease;
    -moz-transition:all 0.3s ease;
    -ms-transition:all 0.3s ease;
    -o-transition:all 0.3s ease;
    transition:all 0.3s ease;
    
    @media (min-width: 769px) {
        color: #fff;
    }
}

.page-template-template-home-page-php main {
    padding: 0;
    
    @media (max-width: 1024px) {
        width: 100%;
    }
}