// _pages.scss
p {
    .form-allowed-tags {
        display: none;
    }
    #form-allowed-tags {
        display: none;
    }
}

.post {
    .tiled-gallery-caption {
        display: none;
    }
}

.gallery {
    
    @media (min-width: 769px) {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    
     @media (min-width: 1600px) {
         grid-template-columns: 33% 33% 33%;
    }
    
    img {
        object-fit: cover;
    }
}

.cta {
    background: rgba(150, 177, 210, 0.7);
    color: $bg_body_color;
    padding: 10px;
    width: 100%;
    margin: 0 auto 20px;

    @media (min-width: 769px) {
        width: 60%;
    }
    .packages {
        text-align: center;
        color: $bg_header_color;
        font-size: 1.2rem;
        margin-bottom: 20px;

        span {
            font-weight: 700;
            font-size: 1.4rem;
        }
    }

    p {
        color: #fff;
    }
    .wpcf7-submit {
        border: none;
        box-shadow: none;
        background: #fff;
        color: $font_header_color;
        padding: 10px 50px;
        font-weight: 700;
    }
    textarea {
        height: 100px;
        border: none;
    }
    input {
        border: none;
    }
}

.testi-widget {
    padding: 10px;
    width: 100%;
    margin: 0 auto 20px;

    @media (min-width: 769px) {
        width: 85%;
    }
}


.articles {
    display: grid;
    padding: 0 10px;
    
    @media (min-width: 769px) {
        grid-template-columns: 50% 50%;
    }

    article {
        margin-bottom: 40px;
        text-align: center;
        padding: 0 10px;

        @media (min-width: 769px) {
            -webkit-flex: 1 1 50%;
            flex: 1 1 50%;
            padding: 10px;
            
            &:hover {
                h2 a {
                  color: $font_header_color;  
                }
            }
        }

        img {
            width: 100%;
        }

        h2 {
            margin-bottom: 10px;

            @media (min-width: 769px) {
                font-size: 1.2rem;

                a {
                    display: block;
                }
            }
            @media (min-width: 1200px) {
                font-size: 1.4rem;
            }
        }
    }

    h1 {
        text-align: center;
        background: #fff;
        width: 100%;
        padding: 25px 10px 10px;
        margin-top: -25px;
        font-size: 4rem;
    }
}

.pagination {
    margin: auto;
    text-align: center;
    font-size: 1.6rem;
    display: block;
    .page-numbers {
        background: $font_header_color;
        margin: 0 -3px;
        padding: 5px;
        letter-spacing: 1px;
        color: #fff;
    }
}

main {
    @media (min-width: 1025px) {
        position: absolute;
        right: 0;
        min-height: 100vh;
    }
}

@media (max-width: 1024px) {
    main {
        padding: 25px 0;
        width: 100%;
        z-index: 9;
    }
    .copyright {
        display: none;
    }
}

@media (max-width: 768px) {
    main {
        height: auto;
        overflow: hidden;
    }
    .wp_rp_content ul.related_post li {
        clear: none;
        display: inline-block;
        float: left;
        width: 50%;
        margin: 0;
    }
}