// _welcomepage.scss

 .page-template-welcome-page {
     
    #container {
        width: 100%;
        padding: 25px 0px;
        background:none;
        margin:auto;
    }
     
     header {
        width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
        text-align: center;
         
         h1 {
            font-size: 3.5rem;
            line-height: 3.7rem;
            margin: 30px auto;
            font-family: 'Josefin Sans';
             
             @media (max-width:560px) {
                 font-size: 2rem;
                 line-height: 2.2rem;
                 margin-bottom: 30px;
             }
        }
    }
     
    main {
        margin-top: 5%;
        
        .imageButton {
            margin: auto;
            text-align: center;
            border: 1px solid #eee;
            padding: 20px;
            min-height: 210px;
            @include transition (all 0.3s ease-in-out);
            
            &:hover {
                background:#eee;
            }
            
            @media (max-width:560px) {
                min-height: 85px;
                padding: 35px 20px;
            }
            
            h2 {
                font-family: 'Josefin Sans';
                font-size: 3.5rem;
                margin-top: 50px;
                color: rgb(204, 204, 204);
                
                @media (max-width:768px) {
                    font-size: 3rem;
                    margin-top: 20px;
                    line-height: 3rem;
                }
                
                 @media (max-width:560px) {
                    font-size: 2.5rem;
                    margin-top: 10px;
                    line-height: 2.7rem;
                }
                
            }
            
            .slogan {
                color: #D1D1D3;
                font-family: Dancing Script;
                font-size: 2.5rem;
                font-weight: 500;
                margin-top: 10px;
                text-align: center;
                display: block !important;
            }
        }
        
        .socialMedia {
            margin: 18% auto auto;
            width: 140px;
            margin-top: 18%;
            
            @media (max-width:560px) {
                margin: 40px auto;
            }
            
            ul { 
                margin: auto;

                li {
                    list-style: none;
                    margin: auto;
                    margin: 10px 0px;
                    
                    a {
                        color: #ccc;
                        text-decoration: none;
                        @include transition (all 0.2s ease);
                        
                        &:hover {
                            color: #96B1D2;
                        }
                    }
                    
                    .fa {
                        padding-right: 7px;
                    }
                }
            }
        }
    }

}