// _photomosaic.scss

/* custom photomosaic css here */

@media (min-width: 641px) {
    body.single .pp_pic_holder.pp_default {
        background: none repeat scroll 0 0 #fff;
        border: medium none;
        height: 95% !important;
        left: 2.5% !important;
        width: 95% !important;
    }
    body.single .pp_content {
        margin: auto !important;
        text-align: center !important;
    }
    body.single div.pp_default .pp_content_container .pp_right {
        background: none;
    }
    body.single div.pp_default .pp_content_container .pp_left {
        background: none;
    }
    body.single div.pp_default .pp_top .pp_left,
    div.pp_default .pp_top .pp_right,
    div.pp_default .pp_top .pp_middle {
        background: none;
    }
    body.single div.pp_default .pp_bottom .pp_left,
    div.pp_default .pp_bottom .pp_right,
    div.pp_default .pp_bottom .pp_middle {
        background: none;
    }
}
@media (max-width: 640px) {
    body.single .pp_expand {
        display: none !important;
    }
}
.packages-ad {
    background: none repeat scroll 0 0 #96b1d2;
    color: #efefef;
    padding: 10px;
    width: 100%;
}
.packages-ad a {
    color: #fff;
    font-size: 1.1em;
    font-weight: 700;
}